<div
    class="w-screen h-screen bg-gradient-to-t from-purple-900 to-zinc-800 flex items-center justify-center gap-6 flex-col"
>
    <div class="text-3xl text-white">Sign in!</div>
    <button hx-get="/api/signin/OAuth/google" class="btn">
        <img class="w-6 h-6" src="/login/google.svg" alt="" />
        <div>Google</div>
    </button>
    <div>-</div>
    <form class="flex flex-col gap-2">
        <div>
            <input
                type="email"
                placeholder="Email"
                name="email"
                id="email"
                class="input input-bordered"
            />
        </div>
        <div>
            <input
                type="password"
                placeholder="Password"
                name="password"
                id="password"
                class="input input-bordered"
            />
        </div>
        <button
            hx-boost="true"
            hx-post="/api/signin/email"
            hx-indicator="#indicator"
            hx-swap="none"
            class="btn"
        >
            <div>Sign in</div>
            <img id="indicator" class="htmx-indicator w-2" src="/goWhite.gif" />
        </button>
    </form>
    <div class="text-white">
        Don't you have an account?
        <span
            hx-boost="true"
            class="bg-white bg-clip-text text-transparent cursor-pointer transition-all hover:bg-violet-300 hover:bg-clip-text hover:text-transparent"
            ><a href="/signup">Sign up</a></span
        >
    </div>
    <img src="/goWhite.svg" alt="" />
</div>
